@for(course of courses(); track course.id) {
<div class="course-card">
  <div class="course-header">
    <span class="course-title">{{ course.title }}</span>
  </div>
  <img alt="{{ course.title }}" class="course-image" [src]="course.iconUrl" />
  <div class="image-description">
    <p class="course-description">{{ course.longDescription }}</p>
  </div>
  <div class="course-actions">
    <button class="btn">VIEW COURSE</button>
    <button class="btn" (click)="onEditCourse(course)">EDIT</button>
    <img
      src="/assets/icons/delete.svg"
      alt="delete"
      class="delete"
      (click)="onCourseDeleted(course)"
    />
  </div>
</div>

}
