<form class="login" [formGroup]="form">
  <div class="login-form">
    <h3>Login</h3>

    <div class="form-control">
      <label for="email">Email:</label>
      <input
        id="email"
        placeholder="Enter your email"
        formControlName="email"
      />
    </div>

    <div class="form-control">
      <label for="password">Password:</label>
      <input
        id="password"
        formControlName="password"
        type="password"
        placeholder="Enter your password"
      />
    </div>
  </div>

  <div class="form-actions">
    <button class="btn" type="button" routerLink="/home">Home</button>

    <button class="btn" type="submit" (click)="onLogin()">Login</button>
  </div>
</form>
